/* cores da página */
:root {
    --color-first:#333;
    --color-second:#FDFDFD;
    --color-third:#d40b2c;
    --color-Fourth:#1A202C;
    --color-Fifth:#fff;
    --color-Sixth:#242b38;
    --color-Seventieth:#ddd;
    --color-Eightieth:#50ce3f;
    --color-One-hundredth:#000;
   
}
/***/